@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.ant-menu .ant-menu-submenu-arrow {
  display: none !important;
}
.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.ant-layout-header {
  padding: 1rem !important;
}
@media (min-width: 768px) {
  .ant-layout-header {
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
  }
  ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: none !important;
  }
}
@media (min-width: 768px) {
  .ant-layout-header {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}
@layer components {
  .text-balance {
    text-wrap: balance;
  }
}
